<ion-button class="hello" size="large" fill="outline">Hello World</ion-button>

<ion-datetime #date></ion-datetime>

<ion-input class="input" placeholder="Escreva Algo">Arauto do Medo</ion-input>

<ion-select interface="action-sheet" placeholder="Select fruit" id="fruits">
    <ion-select-option>1</ion-select-option>
    <ion-select-option>2</ion-select-option>
    <ion-select-option>3</ion-select-option>
</ion-select>

<ion-accordion-group class="cordeao">
    <ion-accordion value="first">
        <ion-item slot="header" color="light">
            <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            First Content
        </div>
    </ion-accordion>
    <ion-accordion value="second">
        <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            Second Content
        </div>
    </ion-accordion>
    <ion-accordion value="third">
        <ion-item slot="header" color="light">
            <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            Third Content
        </div>
    </ion-accordion>
</ion-accordion-group>