.button {
    --border-radius: 20px;
    --background: #2D9FDB;
    font-style: italic;
    font-size: 0.9rem;
    width: 90%;
    height: 3.5rem;
    margin-top: 1rem;
    text-transform: capitalize;
}